# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# virtualenv folder
/**/venv

# about the v2ex
v2ex_config.json
v2ex.log

# about the comics
*.db
config.py

# about the recipes
*.mobi
*.epub
debug/

# about 1024
code.txt

# python package
dist/
*.egg-info

# temp
temp/
main
