# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# virtualenv folder
/**/venv

# about the v2ex
v2ex_config.py
v2ex.log

# about the comics
*.db
config.py

# about the recipes
*.mobi
debug/*
